# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.bak

# Environment variables
.env
.ngrok2/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# OS
Thumbs.db
.DS_Store

# Daten
/data/

# Node
node_modules/
dist/
